
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">
    <div class="navbar">
        {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
    </div>
    
    <header class="bk-header clearfix">
          <div class="headerwrapper clearfix">
                <div class="header-center clearfix">
                    {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                    {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                </div>
           </div>
      </header>
    
    <div class="page-wrap">
           {{zone('main')|raw}}
    </div>
    
    <div class="above-wrap">
        <div class="above-footer headerwrapper">
            {{widget('profile', 'socialicons', { 'profileType':'socialicons',     'socialicons':'profile'})|raw}}
        </div>
    </div>
    
    <footer class="bk-footer">
         <div class="footer-border headerwrapper">
                <div class="left">
                    {{widget('companyname', 'thisunqiuewidgetname1', {"business": "profile"})|raw}}
              </div>
              <div class="right">
                    {{widget('profile', 'headercolumn1profileCopyright', { 'profileType':'copyright',     'copyright':'profile'})|raw}} 
              </div>
         </div>
    </footer>
</div>

{% endblock %}